{% extends "MeuSite/base.html" %}
{% load static %}

{% block title %}
    Lista de Resumos (StudyGram)
{% endblock %}

{% block content %}
    <h1>Lista de Resumos</h1>
    
    <p><a href="{% url 'buscar-resumo' %}">Fazer Nova Busca</a></p>

    <table>
        <tr><th>Título</th><th>Conteúdo</th><th>Data de Criação</th></tr>
        {% for pessoa in pessoas %}
            <tr>
                <td>{{ pessoa.titulo }}</td>
                <td>{{pessoa.conteudo|truncatechars:100 }}</td>
                <td>{{ pessoa.data_criacao|date:"d/m/Y" }}</td>
             </tr>
        {% empty %}
            <tr><th colspan="3">Ainda não tem resumos cadastrados</th></tr>
        {% endfor %}
    </table>

{% endblock %}