{% extends "MeuSite/base.html" %}
{% block content %}

<div class="left-section">
    <div class="top-bar">
        <div class="buttons">
            <a href="{% url 'home' %}" class="btn">Home</a>
        </div>
    </div>

    <h2 class="titulo-pagina">Sobre o Projeto</h2>

    <p style="margin-top:20px; font-size:1.1rem;">
        Este site foi criado para facilitar o compartilhamento de resumos, 
        vídeos e recursos entre estudantes. Aqui você pode estudar, colaborar 
        e participar de batalhas de conhecimento.
    </p>
    <p style="margin-top:12px; font-size:1.1rem;">
        Nosso objetivo é criar uma comunidade de aprendizado onde todos possam 
        contribuir e crescer juntos. Sinta-se à vontade para explorar as 
        funcionalidades do site e fazer parte dessa jornada educacional!
    </p>
    <a href="{% url 'colaboradores' %}" class="btn ghost small">
        Conheça a Equipe
    </a>
</div>

{% endblock %}
